<!-- recipe.html -->

{% extends 'base.html' %}

{% block title %}Recipe - My App{% endblock %}

{% block content %}

    <div class="container">
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Recipe App</a> -->
        </nav>
        <div class="mt-4">
            
            <h2>{{ recipe.title }}</h2>
            <img src="{{ recipe.image }}" class="img-fluid" alt="{{ recipe.title }}">
            <p>{{ recipe.summary | safe}}</p>
            <p>Ready in: {{ recipe.readyInMinutes }} minutes</p>
            <p>Servings: {{ recipe.servings }}</p>
            <h3>Ingredients:</h3>
            <ul>
                {% for ingredient in recipe.extendedIngredients %}
                    <li>{{ ingredient.original }}</li>
                {% endfor %}
            </ul>
            <h3>Instructions:</h3>
            <ol>
                {% if recipe[analyzedInstructions] and recipe[analyzedInstruction][0].steps %}
                    {% for step in recipe[analyzedInstructions][0].steps | default('No instruction available') %}
                    <li>{{ step.step }}</li>
                    {% endfor %}
                   {% else %} 
                   <li>No Instructions available </li>
                {% endif %}

            </ol>
    
        </div>
            
            <button type="submit" id="save-btn" class="btn btn-primary mt-3">Save Recipe</button>
        
    </div>
    <script>
        const recipeData = {
            id: "{{ recipe.id }}",
            title: "{{ recipe.title }}",
            description: "{{ recipe.summary }}"
        };
        
    </script>
  
    {% endblock %}

   