{% extends 'base.html' %}

{% block title %}Login - My App{% endblock %}

{% block content %}
<body>
    <div class="container">
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Recipe App</a> -->
        </nav>
        <div class="mt-4">
            
            <h2>{{ recipe.title }}</h2>
            <img src="{{ recipe.image }}" class="img-fluid" alt="{{ recipe.title }}">
            <p>{{ recipe.summary | safe}}</p>
            <p>Ready in: {{ recipe.readyInMinutes }} minutes</p>
            <p>Servings: {{ recipe.servings }}</p>
            <h3>Ingredients:</h3>
            <ul>
                {% for ingredient in recipe.extendedIngredients %}
                    <li>{{ ingredient.original }}</li>
                {% endfor %}
            </ul>
            <h3>Instructions:</h3>
            <ol>
                {% for step in recipe.analyzedInstructions[0].steps %}
                    <li>{{ step.step }}</li>
                {% endfor %}
            </ol>
    
        </div>
            <!-- Link to Refresh Random Recipe -->
        <form method="GET" action="{{ url_for('refresh_recipe') }}">
            <button type="submit" id="refreshButton" class="btn btn-primary mt-3">New Recipe</button>
         </form>
    </div>
    {% endblock %}

    <!-- Bootstrap JS and dependencies (jQuery, Popper.js) -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
