<!-- recipe_details.html -->

{% extends 'base.html' %}

{% block title %}{{ recipe.title }} - Recipe Details{% endblock %}

{% block content %}
<body>
    <div class="container mt-5">
        {% if recipe %}
            <h2>{{ recipe.summary | safe}}</h2>
            <p><strong>Preparation Time:</strong> {{ recipe.preparation_time }} minutes</p>
            <p><strong>Servings:</strong> {{ recipe.servings }}</p>
            <p><strong>Ingredients:</strong></p>
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
            <p><strong>Instructions:</strong></p>
            <ol>
                {% for step in recipe.instructions %}
                    <li>{{ step }}</li>
                {% endfor %}
            </ol>
            <p><a href="{{ url_for('index') }}">Back to Home</a></p>
        {% else %}
            <p>Recipe not found or unavailable.</p>
        {% endif %}
    </div>
</body>
{% endblock %}
